<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Managed file name:</strong>
  <%= @managed_file.managed_file_name %>
</p>

<p>
  <strong>Managed file uri:</strong>
  <%= @managed_file.managed_file_uri %>
</p>

<%= link_to 'Edit', edit_managed_file_path(@managed_file) %> |
<%= link_to 'Back', managed_files_path %>
